<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Components</h1>
  </div>
</div>

<section class="getting-started">
  <div class="main container">
    <div class="card">
      <div class="card-header">Input Text</div>
      <div class="card-body">
        <div class="form-group">
          <input-text 
            [label]="'My Label here'" 
            [placeholder]="'My placeholder...'" 
            [maxlength]="200" 
            [disabled]="false"   
            [showValidations]="true"
            [(ngModel)]="myModel" 
            required>
          </input-text>
        </div>

        <div highlight="all" [language]="['Html']">
          <pre><code [textContent]="inputTextCode"></code></pre>
        </div>
      </div>
    </div>
  </div>
</section>
