<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
				<img src="assets/logo.svg" alt="ngx-ui-hero logo" class="logo">
			</div>
			<div class="col-sm-8 text-center text-md-left">
				<h1>ngx-ui-hero</h1>
				<p>Angular library built with ❤ using ngx-library yeoman generator.</p>
				<p>Scroll down to see it in action!</p>
				<p class="buttons">
					<a class="btn btn-outline-primary btn-lg" href="https://github.com/diego-rangel/ngx-ui-hero" target="_blank"><i class="fa fa-github fa-lg"></i>  Code on Github</a>
					<a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i class="fa fa-book fa-lg"></i>  Documentation</a>
        		</p>
			</div>
		</div>
	</div>
</div>

<section class="home">
  <div class="container">
	
	<h2>AlertService in Action</h2>
	<div class="in-action">
		<button class="btn btn-success" (click)="testSweetAlertSuccess()">Success</button>
		<button class="btn btn-info" (click)="testSweetAlertInfo()">Info</button>
		<button class="btn btn-danger" (click)="testSweetAlertError()">Error</button>
		<button class="btn btn-warning" (click)="testSweetAlertWarning()">Warning</button>
		<button class="btn btn-default" (click)="testSweetAlertQuestion()">Question</button>
	</div>

	<p>Inject the service into your component:</p>
	<div class="code">
		constructor(private alert: <b>AlertService</b>) {{"{ }"}}
	</div>

	<div class="code">
		<b>this.alert.success</b>('Yeahhh', 'Some success text here =)');<br/>
		<b>this.alert.info</b>('Info', 'Some info text here');<br/>
		<b>this.alert.error</b>('Oops =(', 'My error message');<br/>
		<b>this.alert.warning</b>('Attention!', 'Some text here');
	</div>

	<hr />

  </div>
</section>
