<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Input Forms Components</h1>
  </div>
</div>

<section>
  <div class="main container">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div id="components-menu" class="sticky-top" style="top: 20px;">
          <a anchorLink="card-input-text" href="#card-input-text" class="list-group-item list-group-item-action"><i class="fa fa-keyboard-o"></i> Text</a>
          <a anchorLink="card-input-select" href="#card-input-select" class="list-group-item list-group-item-action"><i class="fa fa-chevron-down"></i> Select</a>
          <a anchorLink="card-input-multiselect" href="#card-input-multiselect" class="list-group-item list-group-item-action"><i class="fa fa-list-ul"></i> MultiSelect</a>
          <a anchorLink="card-input-dropdown-grid" href="#card-input-dropdown-grid" class="list-group-item list-group-item-action"><i class="fa fa-table"></i> Dropdown Grid</a>
          <a anchorLink="card-input-dropdown-search" href="#card-input-dropdown-search" class="list-group-item list-group-item-action"><i class="fa fa-search"></i> Dropdown Search</a>
          <a anchorLink="card-input-email" href="#card-input-email" class="list-group-item list-group-item-action"><i class="fa fa-envelope-o"></i> E-mail</a>
          <a anchorLink="card-input-textarea" href="#card-input-textarea" class="list-group-item list-group-item-action"><i class="fa fa-text-height"></i> Textarea</a>
          <a anchorLink="card-input-checkbox" href="#card-input-checkbox" class="list-group-item list-group-item-action"><i class="fa fa-check-square-o"></i> Checkbox</a>
          <a anchorLink="card-input-switch" href="#card-input-switch" class="list-group-item list-group-item-action"><i class="fa fa-check-square-o"></i> Switch</a>
          <a anchorLink="card-input-radio" href="#card-input-radio" class="list-group-item list-group-item-action"><i class="fa fa-check-circle-o"></i> Radio</a>
          <a anchorLink="card-input-currency" href="#card-input-currency" class="list-group-item list-group-item-action"><i class="fa fa-money"></i> Currency</a>
          <a anchorLink="card-input-percent" href="#card-input-percent" class="list-group-item list-group-item-action"><i class="fa fa-percent"></i> Percent</a>
          <a anchorLink="card-input-number" href="#card-input-number" class="list-group-item list-group-item-action"><i class="fa fa-sort-numeric-asc"></i> Number</a>
          <a anchorLink="card-input-date" href="#card-input-date" class="list-group-item list-group-item-action"><i class="fa fa-calendar"></i> Date</a>
          <a anchorLink="card-input-month-year" href="#card-input-month-year" class="list-group-item list-group-item-action"><i class="fa fa-calendar"></i> Month/Year</a>
          <a anchorLink="card-input-upload" href="#card-input-upload" class="list-group-item list-group-item-action"><i class="fa fa-cloud-upload"></i> Upload</a>
          <a anchorLink="card-filter-date" href="#card-filter-date" class="list-group-item list-group-item-action"><i class="fa fa-filter"></i> Filter Date <span class="badge badge-danger">new</span></a>
          <a anchorLink="card-filter-dropdown-search" href="#card-filter-dropdown-search" class="list-group-item list-group-item-action"><i class="fa fa-filter"></i> Filter Dropdown Search <span class="badge badge-danger">new</span></a>
          <a anchorLink="card-filter-multiselect" href="#card-filter-multiselect" class="list-group-item list-group-item-action"><i class="fa fa-filter"></i> Filter MultiSelect <span class="badge badge-danger">new</span></a>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div id="card-input-text" class="card">
          <div class="card-header">Input Text</div>
          <div class="card-body">              
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <input-text
                    [label]="'My Label here'"
                    [placeholder]="'My placeholder...'"
                    [maxlength]="200"
                    [disabled]="false"              
                    [showValidations]="true"
                    [(ngModel)]="myModel"
                    required>
                  </input-text>
                </div>
    
                <div>
                  <pre><code [highlight]="inputTextCode"></code></pre>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <input-text-mask
                    [label]="'My Text with Mask'"
                    [placeholder]="'My placeholder...'"
                    [disabled]="false"
                    [masking]="'(99) 0000-0000'"                
                    [showValidations]="true"
                    [(ngModel)]="myModelComMascara"
                    required>
                  </input-text-mask>
                </div>
    
                <div>
                  <pre><code [highlight]="inputTextComMascaraCode"></code></pre>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p><b>The following built-in mask rules should be supported:</b></p>

                <div class="well">
                  <p class="my-0">0: requires a digit (0-9).</p>
                  <p class="my-0">9: requires a digit (0-9) or a space.</p>
                  <p class="my-0">#: requires a digit (0-9), plus (+), or minus (-) sign.</p>
                  <p class="my-0">L: requires a letter (a-Z).</p>
                  <p class="my-0">?: Requires a letter (a-Z) or a space.</p>
                  <p class="my-0">A: requires an alphanumeric (0-9, a-Z).</p>
                  <p class="my-0">a: requires an alphanumeric (0-9, a-Z) or a space.</p>
                  <p class="my-0">&: any keyboard character (excluding space).</p>
                  <p class="my-0">C: any keyboard character.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="card-input-select" class="card mt-4">
          <div class="card-header">Input Select</div>
          <div class="card-body">
            <p>Never more get confused when using a number as your ngModel.</p>

            <p>The InputSelect component supports not only a template mode, but an options input too. You can use an array of objects of any types, you just need to set the displayTextProperty and valueProperty values.</p>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input-select
                    [label]="'My Label'"
                    [defaultOption]="'Select'"
                    [disabled]="false"
                    [showValidations]="true"
                    [(ngModel)]="mySelectModel"
                    [options]="options"
                    [displayTextProperty]="'text'"
                    [valueProperty]="'value'"
                    required>
                  </input-select>
                </div>

                <div>
                  <pre><code [highlight]="inputSelectCode"></code></pre>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input-select
                    [label]="'My Label 2'"
                    [defaultOption]="'Select'"
                    [disabled]="false"
                    [(ngModel)]="mySelectModel">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                  </input-select>
                </div>

                <div>
                  <pre><code [highlight]="inputSelectCode2"></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="card-input-multiselect" class="card mt-4">
          <div class="card-header">Input MultiSelect</div>
          <div class="card-body">
            <input-multiselect 
              label="My Multiselect"
              [(ngModel)]="myMultiselectModel"
              [options]="multiSelectOptions" 
              displayTextProperty="text" 
              valueProperty="value">
            </input-multiselect>

            <div class="row mt-4">
              <div class="col-lg-6">
                <h5>Example</h5>
                <div>
                  <pre><code [highlight]="myMultiselectCode"></code></pre>
                </div>
              </div>
              <div class="col-lg-6">
                <h5>Model</h5>
                <div class="long-content">
                  <pre><code [highlight]="myMultiselectModel | json"></code></pre>
                </div>
              </div>
            </div>

            <h2>Inputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>placeholder</b><br/>
                      Default: <small>Select...</small>
                    </td>
                    <td>string</td>
                    <td>Input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>searchPlaceholder</b><br/>
                      Default: <small>Search...</small>
                    </td>
                    <td>string</td>
                    <td>The search input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>displayTextProperty</b><br/>
                      Default: <small>text</small>
                    </td>
                    <td>string</td>
                    <td>The property name of your object's model to show as the option <b>display text</b>.</td>
                  </tr>
                  <tr>
                    <td><b>valueProperty</b><br/>
                      Default: <small>value</small>
                    </td>
                    <td>string</td>
                    <td>The property name of your object's model to show as the option <b>identifier</b>.</td>
                  </tr>
                  <tr>
                    <td><b>emptyMessage</b><br/>
                      Default: <small>No results found.</small>
                    </td>
                    <td>string</td>
                    <td>The message to show for empty results.</td>
                  </tr>
                  <tr>
                    <td><b>selectAllButtonLabel</b><br/>
                      Default: <small>Select all</small>
                    </td>
                    <td>string</td>
                    <td>The Select all button's label.</td>
                  </tr>
                  <tr>
                    <td><b>clearSelectionButtonLabel</b><br/>
                      Default: <small>Clear selection</small>
                    </td>
                    <td>string</td>
                    <td>The Clear selection button's label.</td>
                  </tr>
                  <tr>
                    <td><b>maxCountOfLabelsToShow</b><br/>
                      Default: <small>3</small>
                    </td>
                    <td>number</td>
                    <td>The maximum number of labels to show for the selected items.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h2>Outputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>onChange</b></td>
                    <td>Emitted every time the <b>selected items</b> are changed.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="card-input-dropdown-grid" class="card mt-4">
          <div class="card-header">Input Dropdown Grid</div>
          <div class="card-body">
            <div class="form-group mb-4">
              <input-dropdown-grid
                label="My Dropdown Grid"
                displayTextProperty="name"
                valueProperty="id"
                [(ngModel)]="myDropdownGridModel"
                [disabled]="false"
                [columns]="dropdownGridColumns"
                [data]="dropdownGridData"        
                [showValidations]="true"
                required>
              </input-dropdown-grid>
            </div>

            <tabset class="custom-tab">
              <tab heading="Template">
                <div>
                  <pre><code [highlight]="inputDropdownGridTemplate"></code></pre>
                </div>
              </tab>
              <tab heading="Component">
                <div>
                  <pre><code [highlight]="inputDropdownGridCode"></code></pre>
                </div>
              </tab>
            </tabset>

            <h2 class="mt-4">Inputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>placeholder</b>
                      <br/>Default: <small>Select...</small>
                    </td>
                    <td>string</td>
                    <td>Input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>searchPlaceholder</b><br/>
                      Default: <small>Search...</small>
                    </td>
                    <td>string</td>
                    <td>The Search input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>displayTextProperty</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>string</td>
                    <td>The property name to show for displaying the selected item.</td>
                  </tr>
                  <tr>
                    <td><b>valueProperty</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>string</td>
                    <td>The property name to handle as the ngModel. It's values must be unique.</td>
                  </tr>
                  <tr>
                    <td><b>data</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>any[]</td>
                    <td>The data to show into the Datagrid.</td>
                  </tr>
                  <tr>
                    <td><b>columns</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td><a href="https://github.com/diego-rangel/ngx-ui-hero/blob/master/projects/ngx-ui-hero/src/lib/data-grid/models/data-grid-column.model.ts" target="_blank">DataGridColumnModel</a>[]</td>
                    <td>The columns definitions.</td>
                  </tr>
                  <tr>
                    <td>
                      <b>itemsPerPage</b><br/>
                      Default: <small>5</small>
                    </td>
                    <td>number</td>
                    <td>Maximum number of items per page into the Datagrid. If value is less than 1, it will display all items in a single page.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h2>Outputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>onChange</b></td>
                    <td>Emitted every time the <b>selected item</b> is changed with the new value as a parameter.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="card-input-dropdown-search" class="card mt-4">
          <div class="card-header">Input Dropdown Search</div>
          <div class="card-body">
            <div class="form-group mb-4">
              <input-dropdown-search
                label="My Dropdown Search"
                displayTextProperty="name"
                valueProperty="id"
                [(ngModel)]="myDropdownSearchModel"
                [data]="dropdownGridData"        
                [showValidations]="true"
                required>
              </input-dropdown-search>
            </div>

            <tabset class="custom-tab">
              <tab heading="Template">
                <div>
                  <pre><code [highlight]="inputDropdownSearchTemplate"></code></pre>
                </div>
              </tab>
              <tab heading="Component">
                <div>
                  <pre><code [highlight]="inputDropdownSearchCode"></code></pre>
                </div>
              </tab>
            </tabset>

            <h2 class="mt-4">Inputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>placeholder</b>
                      <br/>Default: <small>Select...</small>
                    </td>
                    <td>string</td>
                    <td>Input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>searchPlaceholder</b><br/>
                      Default: <small>Search...</small>
                    </td>
                    <td>string</td>
                    <td>The Search input placeholder.</td>
                  </tr>
                  <tr>
                    <td>
                      <b>emptyResultsMessage</b><br/>
                      Default: <small>No results found at this moment.</small>
                    </td>
                    <td>string</td>
                    <td>The message to show when no items were found by the search.</td>
                  </tr>
                  <tr>
                    <td><b>displayTextProperty</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>string</td>
                    <td>The property name to show for displaying the selected item.</td>
                  </tr>
                  <tr>
                    <td><b>valueProperty</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>string</td>
                    <td>The property name to handle as the ngModel. It's values must be unique.</td>
                  </tr>
                  <tr>
                    <td><b>data</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>any[]</td>
                    <td>The data to show into the Datagrid.</td>
                  </tr>
                  <tr>
                    <td>
                      <b>lazyLoadedData</b><br/>
                      Default: <small>false</small>
                    </td>
                    <td>boolean</td>
                    <td>If <b>true</b>, the component will emit the <b>onSearch</b> and <b>you</b> are responsible to do the search and reset the <b>data</b> property.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h2>Outputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>onChange</b></td>
                    <td>Emitted every time the <b>selected item</b> is changed with the new value as a parameter.</td>
                  </tr>
                  <tr>
                    <td><b>onSearch</b></td>
                    <td>Emitted when <b>lazyLoadedData</b> is <b>true</b> and the user type in some search.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="card-input-email" class="card mt-4">
          <div class="card-header">Input Email</div>
          <div class="card-body">
            <div class="form-group">
              <input-email
                [label]="'My E-mail'"
                [placeholder]="'My placeholder...'"
                [maxlength]="200"
                [disabled]="false"
                [showValidations]="true"
                [(ngModel)]="myEmailModel"
                required>
              </input-email>
            </div>

            <div>
              <pre><code [highlight]="inputEmailCode"></code></pre>
            </div>
          </div>
        </div>

        <div id="card-input-textarea" class="card mt-4">
          <div class="card-header">Input Textarea</div>
          <div class="card-body">
            <div class="form-group">
              <input-textarea
                [label]="'My Label'"
                [placeholder]="'My placeholder...'"
                [maxlength]="2000"
                [disabled]="false"
                [showValidations]="true"
                [(ngModel)]="myTextAreaModel"
                required>
              </input-textarea>
            </div>

            <div>
              <pre><code [highlight]="inputTextAreaCode"></code></pre>
            </div>
          </div>
        </div>

        <div id="card-input-checkbox" class="card mt-4">
          <div class="card-header">Input Checkbox</div>
          <div class="card-body">
            <div class="form-group">
              <input-checkbox
                [label]="'My checkbox Label'"
                [disabled]="false"
                [(ngModel)]="myCheckboxModel">
              </input-checkbox>
            </div>

            <div>
              <pre><code [highlight]="checkboxCode"></code></pre>
            </div>
          </div>
        </div>

        <div id="card-input-switch" class="card mt-4">
          <div class="card-header">Input Switch</div>
          <div class="card-body">
            <div class="form-group">
              <input-switch
                [label]="'My switch Label'"
                [disabled]="false"
                [(ngModel)]="mySwitchModel">
              </input-switch>
            </div>

            <div>
              <pre><code [highlight]="switchCode"></code></pre>
            </div>
          </div>
        </div>

        <div id="card-input-radio" class="card mt-4">
          <div class="card-header">Input Radio</div>
          <div class="card-body">
            <div class="form-group">
              <input-radio
                [label]="'My radio 1'"
                [disabled]="false"
                [name]="'radioOptions'"
                [radioValue]="1"
                [(ngModel)]="myRadioModel">
              </input-radio>
              <input-radio
                [label]="'My radio 2'"
                [disabled]="false"
                [name]="'radioOptions'"
                [radioValue]="2"
                [(ngModel)]="myRadioModel">
              </input-radio>
            </div>

            <div>
              <pre><code [highlight]="radioCode"></code></pre>
            </div>
          </div>
        </div>

        <div id="card-input-currency" class="card mt-4">
          <div class="card-header">Input Currency</div>
          <div class="card-body">
            <div class="form-group">
              <input-currency
                [label]="'My Label'"
                [disabled]="false"
                [showValidations]="true"
                [(ngModel)]="myCurrencyModel"
                required>
              </input-currency>
            </div>

            <div>
              <pre><code [highlight]="currencyCode"></code></pre>
            </div>
          </div>
        </div>

        <div id="card-input-percent" class="card mt-4">
          <div class="card-header">Input Percent</div>
          <div class="card-body">
            <div class="form-group">
              <input-percent
                [label]="'My Label'"
                [disabled]="false"
                [showValidations]="true"
                [(ngModel)]="myPercentModel"
                required>
              </input-percent>
            </div>

            <div>
              <pre><code [highlight]="percentCode"></code></pre>
            </div>
          </div>
        </div>

        <div id="card-input-number" class="card mt-4">
          <div class="card-header">Input Number</div>
          <div class="card-body">
            <div class="form-group">
              <input-number
                [label]="'My Label'"
                [disabled]="false"
                [maxValue]="100"
                [minValue]="0"
                [showValidations]="true"
                [(ngModel)]="myNumberModel"
                required>
              </input-number>
            </div>

            <div>
              <pre><code [highlight]="numberCode"></code></pre>
            </div>
          </div>
        </div>

        <div id="card-input-date" class="card mt-4">
          <div class="card-header">Input Date</div>
          <div class="card-body">
            <p>It automatically handles string dates into the model.</p>

            <p>In order to localize the BsDatePicker from ngx-bootstrap, you <b>must</b> import your locale as described into the <a routerLink="/get-started">Get Started</a> section.</p>

            <div class="form-group">
              <input-date
                [label]="'My Label'"
                [disabled]="false"
                [showValidations]="true"
                [(ngModel)]="myDateModel"
                required>
              </input-date>
            </div>

            <div>
              <pre><code [highlight]="dateCode"></code></pre>
            </div>

            <h2>Inputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>placeholder</b></td>
                    <td>string</td>
                    <td>Input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>minDate</b></td>
                    <td>Date</td>
                    <td>Minimum date allowed.</td>
                  </tr>
                  <tr>
                    <td><b>maxDate</b></td>
                    <td>Date</td>
                    <td>Maximum date allowed.</td>
                  </tr>
                  <tr>
                    <td><b>format</b></td>
                    <td>string</td>
                    <td>The date format to show.</td>
                  </tr>
                  <tr>
                    <td><b>theme</b><br/>
                      Default: <small>theme-dark-blue</small>
                    </td>
                    <td>string</td>
                    <td>Defines the layout colors of the picker.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h2>Outputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>onChange</b></td>
                    <td>Emitted every time a date is changed with the new value as a parameter.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="card-input-month-year" class="card mt-4">
          <div class="card-header">Input Month/Year</div>
          <div class="card-body">
            <div class="form-group">
              <input-month-year
                label="My Label"
                placeholder="Select..."
                format="MMM/yyyy"
                language="en"
                [disabled]="false"
                [showValidations]="true"
                [(ngModel)]="myDateMonthYearModel" 
                required>
              </input-month-year>
            </div>

            <div>
              <pre><code [highlight]="myMonthYearCode"></code></pre>
            </div>

            <p><b>Available languages:</b> cs, da, de, en, es, fi, fr, hu, it, jp, nl, pl, pt, ro, sk, zh.</p>

            <h2>Outputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>onChange</b></td>
                    <td>Emitted every time a date is changed with the new value as a parameter.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="card-input-upload" class="card mt-4">
          <div class="card-header">Input Upload</div>
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <input-upload
                    [label]="'My Upload'"
                    [url]="'http://exemplo.com/api'"
                    [autoUpload]="true"
                    [allowedExtensions]="['jpg', 'png']"
                    [maxFileSize]="4"
                    [disabled]="false"
                    [showDropZone]="true"
                    (onError)="OnUploadError($event)">
                  </input-upload>

                  <div>
                    <pre><code [highlight]="uploadCode"></code></pre>
                  </div>
                </div>
                <div class="col-lg-6">
                  <input-upload
                    [label]="'My Upload chunked'"
                    [url]="'http://exemplo.com/api'"
                    [autoUpload]="false"
                    [allowedExtensions]="['jpg', 'png']"
                    [maxFileSize]="4"
                    [disabled]="false"
                    [chunk]="true"
                    [showDropZone]="true"
                    [showQueue]="true"
                    (onError)="OnUploadError($event)">
                  </input-upload>

                  <div>
                    <pre><code [highlight]="uploadCodeChunked"></code></pre>
                  </div>
                </div>
              </div>

              <h2>Inputs</h2>
              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>url</b><br/>
                      <small class="text-danger">Required</small>
                      </td>
                      <td>string</td>
                      <td>The URL where the selected file should be uploaded.</td>
                    </tr>
                    <tr>
                      <td><b>autoUpload</b><br/>
                        Default: <small>true</small>
                      </td>
                      <td>boolean</td>
                      <td>Defines when the component should automatically POST the selected file or not.</td>
                    </tr>
                    <tr>
                      <td><b>label</b></td>
                      <td>string</td>
                      <td>The input's label.</td>
                    </tr>
                    <tr>
                      <td><b>disabled</b><br/>
                        Default: <small>false</small>
                      </td>
                      <td>boolean</td>
                      <td>Disables the component.</td>
                    </tr>
                    <tr>
                      <td><b>placeholder</b><br/>
                        Default: <small>Select a file to upload...</small>
                      </td>
                      <td>string</td>
                      <td>The input's placeholder.</td>
                    </tr>
                    <tr>
                      <td><b>dropZonePlaceholder</b><br/>
                        Default: <small>Drag & drop a file to import.</small>
                      </td>
                      <td>string</td>
                      <td>The Dropzone's placeholder.</td>
                    </tr>
                    <tr>
                      <td><b>showDropZone</b><br/>
                        Default: <small>false</small>
                      </td>
                      <td>boolean</td>
                      <td>Defines if the Dropzone should be visible or not.</td>
                    </tr>
                    <tr>
                      <td><b>showQueue</b><br/>
                        Default: <small>false</small>
                      </td>
                      <td>boolean</td>
                      <td>Defines if the Files queue should be visible or not. Currently only visible when chunking is enabled.</td>
                    </tr>
                    <tr>
                      <td><b>chunk</b><br/>
                        Default: <small>false</small>
                      </td>
                      <td>boolean</td>
                      <td>Defines when the selected file should be chunked or not. If true, the selected file will be splitted into N parts according to a <b>chunkSize</b>.</td>
                    </tr>
                    <tr>
                      <td><b>chunkRetries</b><br/>
                        Default: <small>3</small>
                      </td>
                      <td>number</td>
                      <td>Defines how many times each chunk part should be retried in case of errors.</td>
                    </tr>
                    <tr>
                      <td><b>chunkSize</b><br/>
                        Default: <small>1048576</small>
                      </td>
                      <td>number</td>
                      <td>Defines the max size for each chunk part in <b>bytes</b>.</td>
                    </tr>
                    <tr>
                      <td><b>chunkRequestsCountInParallel</b><br/>
                        Default: <small>50</small>
                      </td>
                      <td>number</td>
                      <td>Defines the max number of chunks to send in parallel.</td>
                    </tr>
                    <tr>
                      <td><b>maxFileSize</b><br/>
                        Default: <small>0</small>
                      </td>
                      <td>number</td>
                      <td>Defines the max file size limit in <b>megabytes</b>. Omit or use 0 for no limit.</td>
                    </tr>
                    <tr>
                      <td><b>withCredentials</b><br/>
                        Default: <small>false</small>
                      </td>
                      <td>boolean</td>
                      <td>Defines if the POST requests should contain the <b>withCredentials</b> parameter.</td>
                    </tr>
                    <tr>
                      <td><b>selectButtonIcon</b><br/>Default: <small>fa fa-folder</small>
                      </td>
                      <td>string</td>
                      <td>The select button's icon.</td>
                    </tr>
                    <tr>
                      <td><b>selectButtonLabel</b><br/>Default: <small>Select</small>
                      </td>
                      <td>string</td>
                      <td>The select button's label.</td>
                    </tr>
                    <tr>
                      <td><b>removeButtonIcon</b><br/>Default: <small>fa fa-trash</small>
                      </td>
                      <td>string</td>
                      <td>The remove's button icon.</td>
                    </tr>
                    <tr>
                      <td><b>removeButtonLabel</b><br/>Default: <small>Remove</small>
                      </td>
                      <td>string</td>
                      <td>The remove's button label.</td>
                    </tr>
                    <tr>
                      <td><b>fileTypeErrorMessage</b><br/>Default: <small>The file type [{{'{extension}'}}] is not allowed.</small>
                      </td>
                      <td>string</td>
                      <td>The error message to show when the file type is invalid.</td>
                    </tr>
                    <tr>
                      <td><b>fileSizeErrorMessage</b><br/>Default: <small>This file exceeds the max file size allowed of {{'{maxFileSize}'}}MB.</small>
                      </td>
                      <td>string</td>
                      <td>The error message to show when the file size is invalid.</td>
                    </tr>
                    <tr>
                      <td><b>maxFileSizeLabel</b><br/>Default: <small>Max file size:</small>
                      </td>
                      <td>string</td>
                      <td>The max file size label.</td>
                    </tr>
                    <tr>
                      <td><b>allowedExtensionsLabel</b><br/>Default: <small>Allowed extensions:</small>
                      </td>
                      <td>string</td>
                      <td>The allowed extensions label.</td>
                    </tr>
                    <tr>
                      <td><b>allowedExtensions</b></td>
                      <td>string[]</td>
                      <td>The allowed extensions.</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h2>Outputs</h2>
              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>onFileAdded</b></td>
                      <td>Emitted every time a file is selected.</td>
                    </tr>
                    <tr>
                      <td><b>onUploadComplete</b></td>
                      <td>Emitted when the selected file is completely uploaded. When chunking, it's called when all parts were successfully sent.</td>
                    </tr>
                    <tr>
                      <td><b>onChunkFileUpload</b></td>
                      <td>Emitted when <b>chunk</b> is true, for each successfully chunk part upload.</td>
                    </tr>
                    <tr>
                      <td><b>onError</b></td>
                      <td>Emitted every time an error occurs.</td>
                    </tr>
                    <tr>
                      <td><b>onClear</b></td>
                      <td>Emitted every time the component is cleared.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div id="card-filter-date" class="card mt-4">
          <div class="card-header">Filter date</div>
          <div class="card-body">
            <div class="form-group mb-4">
              <filter-date
                label="My Date Filter"
                [(ngModel)]="myFilterDateModel">
              </filter-date>
            </div>

            <div>
              <pre><code [highlight]="filterDateCode"></code></pre>
            </div>

            <h2>Inputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>minDate</b></td>
                    <td>Date</td>
                    <td>Minimum date allowed.</td>
                  </tr>
                  <tr>
                    <td><b>maxDate</b></td>
                    <td>Date</td>
                    <td>Maximum date allowed.</td>
                  </tr>
                  <tr>
                    <td><b>format</b></td>
                    <td>string</td>
                    <td>The date format to show.</td>
                  </tr>
                  <tr>
                    <td><b>theme</b><br/>
                      Default: <small>theme-dark-blue</small>
                    </td>
                    <td>string</td>
                    <td>Defines the layout colors of the picker.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h2>Outputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>onChange</b></td>
                    <td>Emitted every time a date is changed with the new value as a parameter.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="card-filter-dropdown-search" class="card mt-4">
          <div class="card-header">Filter Dropdown Search</div>
          <div class="card-body">
            <div class="form-group mb-4">
              <filter-dropdown-search
                label="My Filter"
                displayTextProperty="name"
                valueProperty="id"
                [(ngModel)]="myFilterDropdownSearchModel"
                [data]="dropdownGridData">
              </filter-dropdown-search>
            </div>

            <tabset class="custom-tab">
              <tab heading="Template">
                <div>
                  <pre><code [highlight]="filterDropdownSearchTemplate"></code></pre>
                </div>
              </tab>
              <tab heading="Component">
                <div>
                  <pre><code [highlight]="inputDropdownSearchCode"></code></pre>
                </div>
              </tab>
            </tabset>

            <h2 class="mt-4">Inputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>placeholder</b>
                      <br/>Default: <small>Select...</small>
                    </td>
                    <td>string</td>
                    <td>Input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>searchPlaceholder</b><br/>
                      Default: <small>Search...</small>
                    </td>
                    <td>string</td>
                    <td>The Search input placeholder.</td>
                  </tr>
                  <tr>
                    <td>
                      <b>emptyResultsMessage</b><br/>
                      Default: <small>No results found at this moment.</small>
                    </td>
                    <td>string</td>
                    <td>The message to show when no items were found by the search.</td>
                  </tr>
                  <tr>
                    <td><b>clearSelectionButtonLabel</b><br/>
                      Default: <small>Clear</small>
                    </td>
                    <td>string</td>
                    <td>The Clear selection button's label.</td>
                  </tr>
                  <tr>
                    <td><b>displayTextProperty</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>string</td>
                    <td>The property name to show for displaying the selected item.</td>
                  </tr>
                  <tr>
                    <td><b>valueProperty</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>string</td>
                    <td>The property name to handle as the ngModel. It's values must be unique.</td>
                  </tr>
                  <tr>
                    <td><b>data</b>
                      <br/><small class="text-danger">required</small>
                    </td>
                    <td>any[]</td>
                    <td>The data to show into the Datagrid.</td>
                  </tr>
                  <tr>
                    <td>
                      <b>lazyLoadedData</b><br/>
                      Default: <small>false</small>
                    </td>
                    <td>boolean</td>
                    <td>If <b>true</b>, the component will emit the <b>onSearch</b> and <b>you</b> are responsible to do the search and reset the <b>data</b> property.</td>
                  </tr>
                  <tr>
                    <td>
                      <b>dropRight</b><br/>
                      Default: <small>false</small>
                    </td>
                    <td>boolean</td>
                    <td>It sets the dropdown to be positionated from right to left.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h2>Outputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>onChange</b></td>
                    <td>Emitted every time the <b>selected item</b> is changed with the new value as a parameter.</td>
                  </tr>
                  <tr>
                    <td><b>onSearch</b></td>
                    <td>Emitted when <b>lazyLoadedData</b> is <b>true</b> and the user type in some search.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="card-filter-multiselect" class="card mt-4">
          <div class="card-header">Filter MultiSelect</div>
          <div class="card-body">
            <filter-multiselect 
              label="My Multiselect"
              [(ngModel)]="myFilterMultiselectModel"
              [options]="multiSelectOptions" 
              displayTextProperty="text" 
              valueProperty="value">
            </filter-multiselect>

            <div class="row mt-4">
              <div class="col-lg-6">
                <h5>Example</h5>
                <div>
                  <pre><code [highlight]="myFilterMultiselectCode"></code></pre>
                </div>
              </div>
              <div class="col-lg-6">
                <h5>Model</h5>
                <div class="long-content">
                  <pre><code [highlight]="myFilterMultiselectModel | json"></code></pre>
                </div>
              </div>
            </div>

            <h2>Inputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>placeholder</b><br/>
                      Default: <small>Select...</small>
                    </td>
                    <td>string</td>
                    <td>Input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>searchPlaceholder</b><br/>
                      Default: <small>Search...</small>
                    </td>
                    <td>string</td>
                    <td>The search input placeholder.</td>
                  </tr>
                  <tr>
                    <td><b>displayTextProperty</b><br/>
                      Default: <small>text</small>
                    </td>
                    <td>string</td>
                    <td>The property name of your object's model to show as the option <b>display text</b>.</td>
                  </tr>
                  <tr>
                    <td><b>valueProperty</b><br/>
                      Default: <small>value</small>
                    </td>
                    <td>string</td>
                    <td>The property name of your object's model to show as the option <b>identifier</b>.</td>
                  </tr>
                  <tr>
                    <td><b>emptyMessage</b><br/>
                      Default: <small>No results found.</small>
                    </td>
                    <td>string</td>
                    <td>The message to show for empty results.</td>
                  </tr>
                  <tr>
                    <td><b>selectAllButtonLabel</b><br/>
                      Default: <small>Select all</small>
                    </td>
                    <td>string</td>
                    <td>The Select all button's label.</td>
                  </tr>
                  <tr>
                    <td><b>clearSelectionButtonLabel</b><br/>
                      Default: <small>Clear</small>
                    </td>
                    <td>string</td>
                    <td>The Clear selection button's label.</td>
                  </tr>
                  <tr>
                    <td>
                      <b>dropRight</b><br/>
                      Default: <small>false</small>
                    </td>
                    <td>boolean</td>
                    <td>It sets the dropdown to be positionated from right to left.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h2>Outputs</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>onChange</b></td>
                    <td>Emitted every time the <b>selected items</b> are changed.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
