#components-menu {
    a:not(.active):hover {
        background-color: rgb(216, 216, 216) !important;
    }
    a i {
        width: 25px;
    }
}

.long-content {
    max-height: 300px;
    overflow: scroll;

    > pre {
        margin-bottom: 0;
    }
}