<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Getting Started</h1>
  </div>
</div>

<section class="getting-started">
  <div class="main container">
    <h2>Installation</h2>
    <div highlight="all">
      <pre><code [textContent]="installationCode"></code></pre>
    </div>

    <h2>Configuring SweetAlert 2</h2>
    <p>If you want to use <b>SweeAlert2</b> into your apps, you must add the following script reference to your <b>.angular-cli.json</b> file:</p>
    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="sweetAlertSetupCode"></code></pre>
    </div>

    <h2>Using the Core Module</h2>
    <p>To be able for using the ui-hero Core functionalities, you must provide some configurations.</p>
    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="coreModuleSetupCode"></code></pre>
    </div>

    <h2>Using the Ui Module</h2>
    <p>Add the following import to your module:</p>
    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="uiModuleSetupCode"></code></pre>
    </div>
  </div>
</section>