<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Getting Started</h1>
  </div>
</div>

<section class="getting-started">
  <div class="main container">
    <h2>Installation</h2>
    <div highlight="all">
      <pre><code [textContent]="installationCode"></code></pre>
    </div>

    <h2>ApiModule Setup</h2>
    <p>To be able for using the ui-hero Api functionalities, you must provide some configurations.</p>
    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="apiModuleSetupCode"></code></pre>
    </div>

    <h2>UiModule Setup</h2>
    <p>Add the following import to your module:</p>
    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="uiModuleSetupCode"></code></pre>
    </div>
  </div>
</section>