<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Services</h1>
  </div>
</div>

<section>
  <div class="main container">  
    <h2>AlertService</h2>

    <div class="row my-3">
      <div class="col">
        <div class="btn-block">
          <button type="button" class="btn btn-success mr-1" (click)="testSweetAlertSuccess()">Success</button>
          <button type="button" class="btn btn-info mr-1" (click)="testSweetAlertInfo()">Info</button>
          <button type="button" class="btn btn-danger mr-1" (click)="testSweetAlertError()">Error</button>
          <button type="button" class="btn btn-warning mr-1" (click)="testSweetAlertWarning()">Warning</button>
          <button type="button" class="btn btn-default" (click)="testSweetAlertQuestion()">Question</button>
        </div>
      </div>
    </div>
    
    <p>Just inject the service wherever you need:</p>
    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="alertConstructorCode"></code></pre>
    </div>
    
    <p>Examples:</p>
    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="alertExamplesCode"></code></pre>
    </div>

    <h2>LocalStorageService</h2>
    <p>Provides methods for localstorage management. Yout just need to inject the service wherever you want:</p>

    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="localStorageConstructorCode"></code></pre>
    </div>

    <p>Functionalities:</p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Get(key: string): any</td>
          <td>Returns the local stored value for the provided <b>key</b>.</td>
        </tr>
        <tr>
          <td>Set(key: string, value: any): void</td>
          <td>Sets a <b>value</b> into the provided <b>key</b>.</td>
        </tr>
        <tr>
          <td>Remove(key: string): void</td>
          <td>Removes the stored value for the provided <b>key</b>.</td>
        </tr>
      </tbody>
    </table>

    <h2>AuthService</h2>
    <p>Provides methods for JWT authentication management. Yout just need to inject the service wherever you want:</p>

    <div highlight="all" [language]="['Typescript']">
      <pre><code [textContent]="authConstructorCode"></code></pre>
    </div>

    <p>Functionalities:</p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Autheticate(username: string, password: string): Observable&lt;any&gt;</td>
          <td>Sends an http POST for the configured enpoint into the ApiModule's settings and stores the access token into the local storage in case of success.</td>
        </tr>
        <tr>
          <td>Logout(): void</td>
          <td>Removes the access token from the local storage.</td>
        </tr>
        <tr>
          <td>IsAuthenticated(): boolean</td>
          <td>Checks if the access token keeps stored into the local storage.</td>
        </tr>
        <tr>
          <td>GetToken(): string</td>
          <td>Returns the local stored access token.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
