<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Services</h1>
  </div>
</div>

<section>
  <div class="main container">  
    <h2>AlertService</h2>

    <div class="row my-3">
      <div class="col">
        <div class="btn-block">
          <button type="button" class="btn btn-success mr-1" (click)="testSweetAlertSuccess()">Success</button>
          <button type="button" class="btn btn-info mr-1" (click)="testSweetAlertInfo()">Info</button>
          <button type="button" class="btn btn-danger mr-1" (click)="testSweetAlertError()">Error</button>
          <button type="button" class="btn btn-warning mr-1" (click)="testSweetAlertWarning()">Warning</button>
          <button type="button" class="btn btn-default" (click)="testSweetAlertQuestion()">Question</button>
        </div>
      </div>
    </div>
    
    <p>Just inject the service wherever you need:</p>
    <div>
      <pre><code [highlight]="alertConstructorCode"></code></pre>
    </div>
    
    <p>Examples:</p>
    <div>
      <pre><code [highlight]="alertExamplesCode"></code></pre>
    </div>

    <h2>LocalStorageService</h2>
    <p>Provides methods for localstorage management. Yout just need to inject the service wherever you want:</p>

    <div>
      <pre><code [highlight]="localStorageConstructorCode"></code></pre>
    </div>

    <p>Functionalities:</p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Get(key: string): any</td>
          <td>Returns the local stored value for the provided <b>key</b>.</td>
        </tr>
        <tr>
          <td>Set(key: string, value: any): void</td>
          <td>Sets a <b>value</b> into the provided <b>key</b>.</td>
        </tr>
        <tr>
          <td>Remove(key: string): void</td>
          <td>Removes the stored value for the provided <b>key</b>.</td>
        </tr>
      </tbody>
    </table>

    <h2>AuthService</h2>
    <p>Provides methods for JWT authentication management. Yout just need to inject the service wherever you want:</p>

    <div>
      <pre><code [highlight]="authConstructorCode"></code></pre>
    </div>

    <p>Functionalities:</p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Autheticate(username: string, password: string): Observable&lt;any&gt;</td>
          <td>Sends an http POST for the configured enpoint into the ApiModule's settings and stores the access token into the local storage in case of success.</td>
        </tr>
        <tr>
          <td>Logout(): void</td>
          <td>Removes the access token from the local storage.</td>
        </tr>
        <tr>
          <td>IsAuthenticated(): boolean</td>
          <td>Checks if the access token keeps stored into the local storage.</td>
        </tr>
        <tr>
          <td>GetToken(): string</td>
          <td>Returns the local stored access token.</td>
        </tr>
      </tbody>
    </table>

    <h2>ApiService</h2>
    <p>
      Provides methods for Api Http requests that encapsulates many Angular native complexities. 
      All the following functionalities automatically handles JWT auth, including an "Authorization" header with the stored <b>Access Token</b>. 
      Yout just need to inject the service wherever you want:
    </p>

    <div>
      <pre><code [highlight]="apiConstructorCode"></code></pre>
    </div>

    <p>Functionalities:</p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>get(url: string, query?: KeyValuePair[], options?: <b>ApiRequestOptions</b>): Observable&lt;any&gt;</td>
          <td>Http GET request.</td>
        </tr>
        <tr>
          <td>post(url: string, data: any, options?: <b>ApiRequestOptions</b>): Observable&lt;any&gt;</td>
          <td>Http POST request.</td>
        </tr>
        <tr>
          <td>put(url: string, data: any, options?: <b>ApiRequestOptions</b>): Observable&lt;any&gt;</td>
          <td>Http PUT request.</td>
        </tr>
        <tr>
          <td>delete(url: string, options?: <b>ApiRequestOptions</b>): Observable&lt;any&gt;</td>
          <td>Http DELETE request.</td>
        </tr>
      </tbody>
    </table>

    <p><b>ApiRequestOptions</b> object properties</p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>fullUrl</td>
          <td>When false, it will use the configured <b>base path + url</b>. Default: false.</td>
        </tr>
        <tr>
          <td>headers</td>
          <td>Http custom Headers.</td>
        </tr>
        <tr>
          <td>responseType</td>
          <td>ResponseContentType; Default: JSON.</td>
        </tr>
        <tr>
          <td>autoMapResponse</td>
          <td>When true, it's going to automatically map the response based on the responseType.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
