/* You can add global styles to this file, and also import other style files */
.jumbotron {
    // background-color: #0143a3;
    // background: linear-gradient(135deg,#0143a3,#0273d4);
    background: url("./assets/img/header-bg.jpg") 0 0 repeat-x;
    color: #FFF;
    border-bottom: 8px solid #00559a;
}
.hljs {
    padding: 1em !important;
}
.mark, mark {
    padding: 0;
    background-color: #FFEB3B;
}
h2 mark {
    background-color: transparent;
    color: rgb(0, 132, 255);
}
.card {
    .card-header {
        background-color: #00559a;
        border-bottom: 2px solid #043965;
        color: #FFF;
    }
}
.custom-tab {
    .tab-content {
        background-color: #FFF;
        border-left: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        border-right: 1px solid #CCC;
        padding: 20px;
    }
    .nav-tabs {
        li a {
            border-radius: 0;
            margin: 0;
            padding: 10px 15px;
            color: #00559A;
        }
        li.active a {
            border-top: 4px solid #00559A;
            border-left-color: #CCC;
            border-right-color: #CCC;
            padding-top: 7px;
            color: #00559A;
        }
        li:not(.active) a:hover {
            background-color: #f0f0f0;
        }
    }
}